includes:
    - vendor/phpstan/phpstan-mockery/extension.neon

parameters:
  level: 5
  paths:
    - test
    - src
    - test/Router/QueryTest.php

  excludePaths:
      - vendor/laminas/laminas-validator/src/Db/AbstractDb.php
      - test/Router/QueryTest.php
  ignoreErrors:
    - message: "#extends @final class#"
      path: src/Validators/*
    - message: "#extends @final class#"
      path: src/Filter/Postcode.php
    - message: "#extends @final class#"
      path: src/Util/ArrayInput.php
